$font: 'Roboto';
$grey-color: rgb(190, 190, 190);
$red-color: rgb(252, 57, 57);
$orange-color: rgb(252, 188, 71);
$yellow-color: rgb(248, 248, 88);
$green-color: rgb(59, 199, 59);
$blue-color: rgb(53, 53, 182);
$purple-color: rgb(185, 45, 185);

body {
	font-family: $font;
	font-size: 25px;

	& .menu {
		display: grid;
		grid-template-columns: auto 1fr 1fr 1fr;
		grid-template-rows: 1;
		grid-template-areas:
			" menu . header . ";

		& .image-button {
			grid-area: menu;
			width: 100px;

			&:hover {
				cursor: pointer;
			}
		}

		& .text {
			grid-area: header;
			text-align: center;
			text-shadow: 1px 1px 3px #222;
			color: white;
		}
	}

	& .menu-items {
		list-style: none;
		cursor: pointer;
		margin-top: 0;
		margin-left: -30px;
		width: 300px;

		& li {
			padding: 10px;
			border: 2px solid white;
			margin-bottom: 5px;

			& input {
				margin-right: 15px;
			}
		}
	}
}


.visibility {
	visibility: hidden;
}

.grey {
	background-color: $grey-color;
}

.red {
	background-color: $red-color;
}

.orange {
	background-color: $orange-color;
}

.yellow {
	background-color: $yellow-color;
}

.green {
	background-color: $green-color;
}

.blue {
	background-color: $blue-color;
}

.purple {
	background-color: $purple-color;
}